.headNotificationContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.notificationCount{
    display: flex;
    gap: 1rem;
}
.notificationTitle{
    height: 1.5rem;
    font-weight: bolder;
    font-size: 20px;
}

.countNotification{
    background-color: var(--Blue-main);
    color: white;
    height: 1.5rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.markAll{
    cursor: pointer;
    color: var(--Dark-grayish-blue);
}

.markAll:hover{
    color: var(--Blue-main);
}