main{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-grayish-blue-1);
  padding: 3rem;
}

@media(max-width:860px){
  main{
    padding: 0rem;
  }
}